<nav class="navbar navbar-expand-lg fixed-top">
	<div class="container">
		<a class="navbar-brand js-scroll-trigger" href="/">Home</a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="hamburger-icon">&#x2630;</span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li>
					<a class="nav-link" href="/blog">Blog</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<section class="container content wrapper">
	<router-outlet></router-outlet>
</section>
