<ngx-spinner type="ball-scale-multiple" bdColor="rgba(0,0,0,0.8)" size="medium" color="#ffffff" [fullScreen]="true">
	Bezig met ophalen gegevens...
</ngx-spinner>

<span class="error">{{ errorMessage }}</span>

<h1 *ngIf="posts">{{ title }}</h1>

<select class="form-select" *ngIf="tags.length > 1" #tag (change)="onTag(tag.value)">
	<option selected [value]="0">Alle reizen</option>
	<option *ngFor="let tag of tags" [value]="tag.id">{{tag.description}}</option>
</select>

<section *ngFor="let post of posts">

	<hr>

	<div class="post-date">
		<p title="{{ post.date | date: 'E yyyy-MM-dd HH:mm:ss' }}">{{ post.date | date: 'dd MMM yyyy' }}</p>
	</div>

	<h2 class="post-title">
		<a [routerLink]="['/posts', post.id]" [innerHtml]="post.title.rendered"></a>
	</h2>

	<div class="post-excerpt">
		<p [innerHtml]="post.excerpt.rendered | slice:0:400"></p>
	</div>

	<div class="post-read-more">
		<a [routerLink]="['/posts', post.id]">Lees verder...</a>
	</div>

</section>
