<ngx-spinner type="ball-scale-multiple" bdColor="rgba(0,0,0,0.8)" size="medium" color="#ffffff" [fullScreen]="true">
	Bezig met ophalen gegevens...
</ngx-spinner>

<span class="error">{{ errorMessage }}</span>

<section *ngIf="post">

	<div class="post-date">
		<p title="{{ post.date | date: 'E yyyy-MM-dd HH:mm:ss' }}">{{ post.date | date: 'dd MMM yyyy' }}</p>
	</div>

	<h1 class="post-title" [innerHtml]="post.title.rendered"></h1>

	<p class="post-read-time">Lees in {{ minutes }} minuten.</p>

	<div class="post-text">
		<p [innerHtml]="post.content.rendered"></p>
	</div>

</section>
