body {
	font-family: 'Nunito Sans', sans;
	font-size: 15pt;
}

h1, h2, h3, h4 {
	font-family: 'Asap', cursive;
}

a:link, a:visited, a:hover, a:active {
	color: var(--bs-color);
}

nav {
	font-size: 1.3em;
	background-color: var(--nav-bg);
	color: var(--nav-color);

	div.container {
		background-color: var(--nav-bg);

		a:link, a:visited, a:hover, a:active {
			color: var(--nav-color);
		}
	}

	.navbar-brand {
		font-size: 1.5em;
	}

	.hamburger-icon{
		color: var(--nav-color);
	}
}

.content {
	margin-top: 6em;
}

.post-title {

	a:link, a:visited, a:hover, a:active {
		text-decoration: none;
	}
}

hr {
	border: 0;
	height: 2px;
	background: var(--hr-color);
}

.post-date {
	font-weight: bold;
	float: right;
	font-size: 0.8em;
	color: var(--bs-heading-color);
}

ngx-spinner {
	color: var(--bs-white);
}

span.error {
	color: var(--bs-danger);
}

::selection {
	background: var(--sel-bg);
	color: var(--sel-color);
}
