$light_green: #1db8a8;
$dark_green: #0a3e39;
$darker_green: #062421;

@import "node_modules/bootstrap/scss/bootstrap";

// Set theme colors
$color-mode-type: media-query;

@include color-mode(light) {
	:root {
		--bs-heading-color: #{$dark_green};
		--nav-color: var(--bs-white);
		--nav-bg: #{$dark_green};
		--hr-color: #{$dark_green};
		--sel-bg: #{$dark_green};
		--sel-color: var(--bs-white);
	}
}

@include color-mode(dark) {
	:root {
		--bs-body-color: var(--bs-white);
		--bs-body-bg: #{$darker_green};
		--bs-heading-color: #{$light_green};
		--nav-color: var(--bs-white);
		--nav-bg: #{$dark_green};
		--hr-color: var(--bs-white);
		--sel-bg: var(--bs-white);
		--sel-color: #{$dark_green};
	}
}

@import "styles";
